$primary: var(--#{$variable-prefix}danger);

.sidebar-default {
  .navbar-nav {
    .nav-item {
      .nav-link {
        &:not(.disabled) {
          &.active,
          &[aria-expanded="true"] {
            background-color: var(--#{$variable-prefix}danger);
            box-shadow: 0 10px 20px -10px rgba(var(--#{$variable-prefix}danger-rgb), 0.4);
          }
          &:hover:not(.active):not([aria-expanded="true"]) {
            background-color: var(--#{$variable-prefix}danger-tint-90);
            color: var(--#{$variable-prefix}danger);
            box-shadow: none;
          }
        }
      }
    }
  }
  &.sidebar-soft {
    .navbar-nav {
      .nav-item {
        .nav-link {
          &:not(.disabled) {
            &.active,
            &[aria-expanded="true"] {
              background-color: rgba(var(--#{$variable-prefix}danger-rgb), 0.1);
              box-shadow: unset;
              color: var(--#{$variable-prefix}danger);
            }
            &:hover:not(.active):not([aria-expanded="true"]) {
              background-color: unset;
              color: var(--#{$variable-prefix}danger);
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

.sidebar-default {
  .navbar-nav {
    .nav-item {
      .nav-link {
        &:not(.disabled) {
          &:hover:not(.active):not([aria-expanded="true"]) {
            background-color: rgba(var(--#{$variable-prefix}danger-rgb), 0.2);
          }
        }
      }
    }
  }
}
