.page-item {
  &.active {
    .page-link {
      color: var(--#{$variable-prefix}white);
      background-color: var(--#{$variable-prefix}danger);
      border-color: var(--#{$variable-prefix}danger);
    }
  }
  .page-link {
    border-color: var(--#{$variable-prefix}danger-tint-80);
    color: var(--#{$variable-prefix}danger);
  }
}
