.sidebar {
  &.sidebar-default {
    .nav-link {
      &:not(.static-item) {
        --shadow-dark-color: var(--#{$variable-prefix}danger-rgb);
        &.active,
        &[aria-expanded="true"] {
          background: var(--#{$variable-prefix}danger);
          color: $white;
          box-shadow: 0 10px 20px -10px rgba(var(--shadow-dark-color), 38%);
        }
        &:hover {
          &:not(.active):not([aria-expanded="true"]) {
            background: var(--#{$variable-prefix}danger-tint-90);
            color: var(--#{$variable-prefix}danger);
            box-shadow: unset;
          }
        }
      }
    }
  }
}
